/* Estilos generales ----------------------------------------------- */
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Segoe UI";
    color:  rgb(3, 3, 3);
}

/* Estilos para los títulos ---------------------------------------- */
.contenedor-titulos {
    width: 100%;
    background: #312638;    
    padding: 1px 0;
    margin: 10px 0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.45);
    text-align: center;
    border-radius: 8px;
}


.titulos {
    font-size: 25px;
    color: #f39ffe;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(255, 248, 248, 0.2);
    margin: 20px;
}

/* Estilos para los contenedores ----------------------------------- */

.contenedor-registro-ventas {
    display: flex;
    gap: 20px;
    height: 100%;   
}

.contenedor-form-venta,
.contenedor-form-detalle-venta {
    border-radius: 8px;
    width: auto;        
    max-width: 100%;    
    display: inline-block;
}

/* Estilos para el formulario de busqueda de productos ------------ */

.contenedor-form-venta {
    flex-shrink: 0;   
}

#form-venta {
    background: #312638; 
    padding: 1px 20px 10PX 20px;
    border-radius: 12px;
    width: 500px;
    box-shadow: 0px 0px 12px rgba(201, 102, 212, 0.3)
}

#form-venta label {
    color: #e0e0e0;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

#form-venta input,
#form-venta select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #111;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: 0.2s ease;
}

#form-venta input:focus,
#form-venta select:focus {
    border-color: #912fd3;
    box-shadow: 0px 0px 5px #912fd3;
}

#form-venta button {
    width: 100%;
    padding: 12px;
    background: #912fd3;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

#form-venta button:hover {
    background: #912fd3;
}

/* Estilos para el detalle de venta -------------------------------- */

.contenedor-form-detalle-venta {
    flex-grow: 1;              
    height: 100%;               
    overflow-y: auto;           
    padding: 0 20px 8px 20px;
    background: #312638;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(201, 102, 212, 0.3);
    color: white;
    font-weight: bold;
}

/* Título */
.contenedor-form-detalle-venta h2 {
    color: #fff;
    text-align: center;
    margin: 10px 0 5px 0;
}

/* Total */
.contenedor-form-detalle-venta h3 {
    font-size: 40px;
    font-weight: bold;
    color: #36008e;
    background-color: rgb(255, 241, 241);
    border-radius: 8px;
    padding: 0 0 0 8px;
    margin: 16px 0 17px 0;
}

/* Tablas */
.contenedor-form-detalle-venta table {
    width: 100%;
    border-collapse: collapse;   
    border-radius: 8px;
    overflow: hidden;
}

.contenedor-form-detalle-venta th {
    background: #912fd3;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.contenedor-form-detalle-venta td {
    padding: 10px;
    color: #e0e0e0;
    border-bottom: 2px solid #7e5c83;
}

.contenedor-form-detalle-venta select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #111;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: 0.2s ease;
    margin-top: 5px;
}

.contenedor-form-detalle-venta select:focus {
    border-color: #912fd3;
    box-shadow: 0px 0px 5px #912fd3;
}

#registrarVenta {
    width: 100%;
    padding: 12px;
    background: #912fd3;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 15px;
}

.contenedor-form-detalle-venta button{
    width: 100%;
    padding: 12px;
    background: #912fd3;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.contenedor-form-detalle-venta input,
.contenedor-form-detalle-venta select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #111;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: 0.2s ease;
}

#registrarVenta:hover {
    background: #7a24b0;
}
C
#mensajeVenta {
    color: #fff;
    margin-top: 10px;
}

.btn-ingresar {
    display: block;
    margin: 0 auto;
    color: #d32f2f;
}

#descripcion,
label[for="descripcion"] {
    display:none;
}

.hidden {
    display: none !important;
}

#mensajeVenta {
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: bold;
    display: none;
}
#mensajeVenta.error {
    background: #d32f2f;
    color: #fff;
    border: 1px solid #b71c1c;
}
#mensajeVenta.success {
    background: #388e3c;
    color: #fff;
    border: 1px solid #1b5e20;
}

/* Estilos para tabla de ventas realizadas */
.listaVentas {
    width: 100%;
    border-collapse: collapse;
}

.listaVentas thead {
    background: #912fd3;
    position: sticky;
    top: 0;
}

.listaVentas th {
    padding: 12px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    border: 1px solid #7e5c83;
}

.listaVentas td {
    padding: 10px 12px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}